<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"> Name</label>
            <input class="form-control" formControlName="name" id="name" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath"> img URl</label>
            <input class="form-control" formControlName="imagePath" id="imagePath" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" src="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description"> Description</label>
            <textarea class="form-control" formControlName="description" id="description" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <input class="form-control" type="text">
            </div>
            <div class="col-xs-2">
              <input class="form-control" type="number">
            </div>
            <div class="col-xs-2">
            </div>
            <button class="btn-danger">X</button>

          </div>


        </div>
      </div>
    </form>
  </div>
</div>
